* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: rock ;
    src: url("RubikMoonrocks-Regular.ttf");
}

header {
    text-align: center;
    margin: 3rem;

}
body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.todoinput{
    padding: 1.2rem 3rem;
    background-color: #253127;
    border: none;
    font-size: 1.2rem;
    transition: all 1s ease;
    color: white;
    
}
 header h1 {
    font-family: rock;
    font-size: 5rem;
}
.todoinput:focus {
    outline: none;
    border: none;
}
.tosubmit {
    background-color: #253127;
    padding: 1.2em 1.5em 1.2em 1.5em ;
    border: none;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
  
}
.tosubmit:hover {
    color: #003049;
    background-color: white;
    padding: 1.2em 1.5em 1.2em 1.5em ;
    transition:  all 0.3s ease;
    
}
.tosubmit:focus {
    outline: none;
    border: none;
}
form {
    background-color: #253127;
}
.todo-container {
    margin-top: 5rem;
    display: flex; 
    gap: 3rem;
    justify-content: center;


}
.newtodoDiv {
    display: flex; 
    justify-content: space-between;
     background-color: #3A4A4C;
     color: white;
    /* border: 1px solid wheat; */
    font-size: 1.2rem;
     list-style: none;
    margin: 1rem;
    transition: all 0.5s ease;
    /* width: 4rem; */

}
 .new-todo {
    text-align: left;
    padding: 0.7em 5em;
    padding-left: 0.3em;
    flex: 1;
    transition: all 1s ease ;

 
 }
 .completebtn ,.trashbtn{
    padding: 0em 1em;
    border: none;
    font-size: 1.2rem;
    color: white;
    background-color: #85d415d8;
    cursor: pointer;
 }
 .trashbtn {
    background-color: #f44649f2;
 }
 .fa-check,.fa-trash-can {
    pointer-events: none;
 }
 .completed {
     text-decoration: line-through;
     opacity: 0.5;

 }
 .fall {
   transform: translateY(6rem) rotateZ(25deg);
     opacity: 0;
 } 

 .filterdiv {
    padding: 2rem;
    

 }
 .todo-filter {
   margin: 1.2rem;
     outline: none;
    padding: 0.5rem 1rem;
    width: 13rem;
    

    
 }
 select {
    color: #003049;
    font-size: 1.2rem;
    background-color: #ccceb0;
    border-radius: 2rem;
    cursor: pointer;
   
 }
